:root {
    --primary-color: rgb(247,76,0);
    --background-color: rgb(219, 224, 219);

    --font-large: 1.25em;
    --font-medium: 1em;
    --font-small: .75em;

    --priority1-color: red;
    --priority2-color: blue;
    --priority3-color: green;
    --priority4-color: gray;
}

body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: var(--background-color);
    font-size: var(--font-medium);
    margin: 0;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1em;
}

.todoList {
    padding-left: 0;
}

.todoItem {
    display: flex;
    flex-direction: column;
    border-bottom: .1em solid;
}

.todoItem-todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.todoItem-detailsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.todoItem-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoItem-list {
    margin: 5px;
}

.todoItem-priority1 {
    background-color: var(--priority1-color);
}

.todoItem-priority2 {
    background-color: var(--priority2-color);
}

.todoItem-priority3 {
    background-color: var(--priority3-color);
}

.todoItem-priority4 {
    background-color: var(--priority4-color);
}

.tag {
    border-radius: 3px;
    font-size: var(--font-small);
    padding: 5px;
    margin: 3px;
}
